@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-medical-navy: #0f172a;
  --color-medical-steel: #64748b;
  --color-medical-gold: #eab308;
  --color-medical-bg: #f8fafc;
}

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  background-color: var(--color-medical-bg);
  color: var(--color-medical-navy);
}

body {
  margin: 0;
  min-height: 100vh;
}
